# OS specific ignores
.DS_Store
.vs

# object files
*.Po
*.o
*.lo
*.la
*.a
*.dylib
*.dll
sdl_console-*.tar.gz

# build files
/build
example/ConsoleExample
example/ConsoleExample_static

# autoconf/automake
/autom4te.cache
/aclocal.m4
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/stamp-h1
Makefile.in
Makefile
.libs
.deps


# CMake
cmake_install.cmake
CMakeCache.txt
CMakeFiles
